/* .App{
top: 0px;
left: 0px;
width: 1600px;
height: 1357px;
background: var(--white-background) 0% 0% no-repeat padding-box;
background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 1;
} */

.App{
    width: 100%;
}